#Папки зависимостей node.js, они будуит устанавливаться каждый раз после пуша через npm
node_modules/

#Папка сборки фронтенд-приложения
dist/

#Папка сборки  Rust проектов
target/

#Папка окружения (пароли, токены)
.env

.vscode/

$Системный файл MacOs
.DS_Store

*.log



